[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "aaps_emulator"
version = "0.1.0"
description = "AAPS algorithm emulator and analysis tools"
authors = [
    { name = "Dimas" }
]
readme = "README.md"
requires-python = ">=3.10"

# Если будут зависимости — добавим сюда
dependencies = []

[tool.setuptools]
package-dir = {"" = "."}

[tool.setuptools.packages.find]
include = ["aaps_emulator*"]

[tool.pytest.ini_options]
pythonpath = ["."]
testpaths = ["aaps_emulator/tests"]
