line-length = 120
target-version = "py311"

[lint]
select = [
    "E",
    "F",
    "W",
    "I",
    "B",
    "C4",
    "S",
    "UP",
]

ignore = [
    "E501",
]

[lint.isort]
combine-as-imports = true
force-sort-within-sections = true

[lint.flake8-bandit]
check-typed-exception = true

[lint.per-file-ignores]
"aaps_emulator/tests/*" = ["S101"]


