name: Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install flake8 mypy pytest
          pip install .


      - name: Run flake8
        run: |
          flake8 aaps_emulator

      - name: Run mypy
        run: |
          mypy aaps_emulator

      - name: Run pytest
        run: |
          pip install pytest
          pytest -q
